* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  border-style: solid;
  height: 30rem;
  width: 80rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}